---
extends: default

# Machine recipes are cloud-init files with embedded code, not config YAML.
ignore: |
  **/provision.yml

rules:
  line-length: disable
  document-start: disable
  truthy:
    check-keys: false
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  indentation:
    spaces: 2
    indent-sequences: true
